<div id="at_footer">
	<div class="row">
		<div class="large-12 columns text-center">
			<div class="at_block">
				<div class="poweredby">
					<span>Proudly published with <a class="icon-ghost" href="http://ghost.org">Ghost</a>.</span>
				</div>
				<div class="copyright">
					<span>&copy; {{date format="YYYY"}} {{@blog.title}}. All rights reserved.<br />
				</div>
				
			</div>
		</div>
	</div>
</div>
