<div id="at_header">
    <div class="row">
            <span class="at_header_title">
                <ul>
                    <li><a href="{{@blog.url}}"><span>Rob Graeber</span></a></li>
                </ul>
            </span>
        <span class="at_header_links">
            <ul>
                <li><a href="https://twitter.com/RobGraeber" target="_blank">GitHub</a></li>
                <li><a href="https://www.linkedin.com/in/robgraeber" target="_blank">LinkedIn</a></li>
            </ul>
        </span>
        <!-- <div class="medium-4 columns">
            {{> widgets/at_search }}
        </div> -->
    </div>
</div>
