<div class="left-off-canvas-menu">
	<ul class="off-canvas-list">
		<li><label>Main Menu</label></li>
		<li><a class="at_menu_item" href="{{@blog.url}}"><span class="fa fa-home"></span> Home</a></li>
		<li><a class="at_menu_item" href="{{@blog.url}}/about"><span class="fa fa-user"></span> About</a></li>
		<li><a class="at_menu_item" href="http://www.linkedin.com/in/marcomornati"><span class="fa fa-linkedin"></span> LinkedIn</a></li>
		<li><a class="at_menu_item" href="http://twitter.com/marcomornati"><span class="fa fa-twitter"></span> Twitter</a></li>
		<li><a class="at_menu_item" href="http://www.linkedin.com/in/marcomornati"><span class="fa fa-file"></span> WebSite</a></li>
		<li><a class="at_menu_item" href="{{@blog.url}}/epomodoro"><span class="fa fa-bullseye"></span> ePomodoro</a></li>
	</ul>
</div>
