<ul id="main-menu" class="id-main-menu">
	<li><a href="{{@blog.url}}">Home</a></li>
	<li><a href="{{@blog.url}}/welcome-to-ghost/">Welcome to Ghost</a></li>
	<li><a href="http://KickturnPress.com/themes/launchramp/documentation/">Documentation</a></li>
</ul>