$hues:
	red $red,
	red-orange $red-orange,
	orange $orange,
	orange-yellow $orange-yellow,
	yellow $yellow,
	yellow-green $yellow-green,
	green $green,
	green-blue $green-blue,
	blue $blue,
	blue-indigo $blue-indigo,
	indigo $indigo,
	indigo-purple $indigo-purple,
	purple $purple,
	purple-red $purple-red,
	brown $brown;

@each $hue in $hues {

/*-----------------------------------------------------------------------------------*/
/* Color Scheme: #{nth($hue, 1)}
/*-----------------------------------------------------------------------------------*/

	.hue-#{nth($hue, 1)} {

		$color-theme:                        nth($hue, 2);
		$color-link:                         $color-theme;
		$color-link-hover:                   darken($color-link, 10);
		$color-link-active:                  darken($color-link, 20);
		$color-subheading:                   desaturate($color-theme, 25%);

		a { @include anchor(); }

		h5, h6 { color: $color-subheading; }

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			+ h2,
			+ h3,
			+ h4,
			+ h5,
			+ h6 { color: $color-subheading; }
		}

		thead,
		tfoot {
			th,
			td { color: $color-subheading; }
		}

		pre { border-left-color: $color-link; }

		input[type="number"],
		input[type="time"],
		input[type="week"],
		input[type="month"],
		input[type="date"],
		input[type="datetime"],
		input[type="datetime-local"],
		input[type="search"],
		input[type="password"],
		input[type="url"],
		input[type="email"],
		input[type="tel"],
		input[type="text"],
		select[multiple],
		textarea {
			&:focus {
				border-color: $color-link-hover;
			}
		}

		.blog-cover,
		.pagination-wrapper,
		.author-cover,
		.id-nav-trigger span,
		.id-nav-trigger span:before,
		.id-nav-trigger span:after { background-color: $color-link; }

		.newer-posts:before,
		.older-posts:after { background-color: $color-link-hover; }

		.btn,
		.blog-cover a,
		.author-cover a,
		.pagination a,
		.id-site-copyright a { @include anchor($white,$white,$white); }

		.id-main-menu a { @include anchor(); }

		.id-site-title a { @include anchor($black,$black,$color-link-active); }

		.entry-title a { @include anchor($color-heading,$color-heading,$color-link-active); }

		.entry-meta a { @include anchor($color-meta,darken($color-meta, 10),darken($color-meta, 20)); }

	}

} //end @each