//-------------------------------------------------------------------------------------
// Typography
//-------------------------------------------------------------------------------------

// Google Web fonts loaded via link tag:
// Oswald:300,400,700|Vollkorn:400italic,700italic,400,700

// Fonts
$font-family-sans:                   'Helvetica Neue', Arial, Helvetica, sans-serif;
$font-family-serif:                  TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
$font-family-mono:                   Consolas, Monaco, 'Andale Mono', monospace;
$font-family-oswald:                 'Oswald', $font-family-sans;
$font-family-vollkorn:               'Vollkorn', $font-family-serif;
$font-family-icon:                   'launchramp';

// Small screens
$font-size-breakpoint-0:             16px;
$font-family-default:                $font-family-vollkorn;
$line-height-breakpoint-0:           1.5;

// Medium screens
$font-size-breakpoint-1:             17px;
$line-height-breakpoint-1:           1.66666666666667;

// Large screens
$font-size-breakpoint-2:             19px;
$line-height-breakpoint-2:           1.64705882352941;

// Headings
$font-weight-heading:                400;
$font-family-heading:                $font-family-oswald;
$line-height-heading:                1.2;

// Subheadings
$font-weight-subheading:             300;
$font-family-subheading:             $font-family-oswald;
$line-height-subheading:             $line-height-heading;

//-------------------------------------------------------------------------------------
// UI
//-------------------------------------------------------------------------------------

// Navigation
$z-index-nav:                        1000;
$height-nav-breakpoint-0:            40px;
$height-nav-breakpoint-1:            50px;
$height-nav-breakpoint-2:            60px;

// Margins
$gutter:                             20px;
$vgutter:                            20px;

// Breakpoints
$breakpoint-1:                       481px;
$breakpoint-2:                       769px;

// Media
$max-width:                          800px;

// Rounded Corners
$radius-s:                           4px;
$radius-m:                           $radius-s * 2;
$radius-l:                           $radius-m * 2;

//-------------------------------------------------------------------------------------
// Colors
//-------------------------------------------------------------------------------------

// Greyscale
$white:                              #ffffff;
$grey-98:                            #fafafa;
$grey-95:                            #f2f2f2;
$grey-93:                            #ededed;
$grey-90:                            #e5e5e5;
$grey-85:                            #d9d9d9;
$grey-80:                            #cccccc;
$grey-75:                            #bfbfbf;
$grey-70:                            #b3b3b3;
$grey-65:                            #a6a6a6;
$grey-60:                            #999999;
$grey-55:                            #8c8c8c;
$grey-50:                            #808080;
$grey-45:                            #737373;
$grey-40:                            #666666;
$grey-35:                            #595959;
$grey-30:                            #4d4d4d;
$grey-25:                            #404040;
$grey-20:                            #333333;
$grey-15:                            #262626;
$grey-10:                            #1a1a1a;
$grey-5:                             #0d0d0d;
$black:                              #000000;

// Hues
$red:                                #b04d48;
$red-orange:                         #c56e46;
$orange:                             #d98f45;
$orange-yellow:                      #e3b752;
$yellow:                             #eddd5f;
$yellow-green:                       #a0d775;
$green:                              #5ad18a;
$green-blue:                         #4ebea0;
$blue:                               #43acb5;
$blue-indigo:                        #5b99c3;
$indigo:                             #7387d1;
$indigo-purple:                      #7c77bc;
$purple:                             #8468a8;
$purple-red:                         #9a5b78;
$brown:                              #75553b;

//-------------------------------------------------------------------------------------

// Base
$color-theme:                        $blue;

// Backgrounds
$bgcolor:                            $white;
$bgcolor-header:                     $color-theme;
$bgcolor-pagination:                 $color-theme;
$bgcolor-author:                     $color-theme;

// Borders
$border-color:                       $grey-80;

// Text
$color-default:                      $grey-40;
$color-meta:                         $grey-60;
$color-strong:                       $grey-20;

// Links
$color-link:                         $color-theme;
$color-link-hover:                   darken($color-link, 10);
$color-link-active:                  darken($color-link, 20);

// Headings
$color-heading:                      $black;
$color-subheading:                   desaturate($color-theme, 25%);

// Alerts
$bgcolor-alert-default:              $grey-93;
$bgcolor-alert-error:                #ffe5e5;
$bgcolor-alert-warning:              #ffefbf;
$bgcolor-alert-success:              #d3ebbc;
$bgcolor-alert-info:                 #c2e0f2;

// Blockquotes
$bgcolor-blockquote:                 $grey-98;
$border-color-blockquote:            $grey-85;
$color-blockquote:                   $grey-20;

// Code
$bgcolor-code:                       $grey-45;
$border-color-code:                  $color-theme;
$color-code:                         $grey-98;

// Wells
$bgcolor-well:                       $grey-93;
$border-color-well:                  $bgcolor-well;
$color-well:                         $grey-20;

// Buttons
$btn-padding:                        .5em 1em;
$btn-radius:                         .25em;
$btn-bgcolor:                        $grey-70;
$btn-color:                          $white;
$btn-font-weight:                    400;
$btn-font-family:                    $font-family-heading;