//-------------------------------------------------------------------------------------
// Setup
//-------------------------------------------------------------------------------------

@import 'variables';
@import 'mixins';
@import 'base';

.blog-cover,
.author-cover {
	background-color: $bgcolor-header;
	color: $white;
	text-shadow: 0 0 3px rgba(0,0,0,.35);
	a {
		@include anchor($white,$white,$white);
	}
}

/*-----------------------------------------------------------------------------------*/
/* Header
/*-----------------------------------------------------------------------------------*/

.id-header {
	overflow: hidden;
	padding: ($vgutter * 2 + $height-nav-breakpoint-0) 0 ($vgutter * 2);
	text-align: center;
	@include breakpoint(bp1) {
		padding: ($vgutter * 3 + $height-nav-breakpoint-1) 0 ($vgutter * 3);
	}
	@include breakpoint(bp2) {
		padding: ($vgutter * 5 + $height-nav-breakpoint-2) 0 ($vgutter * 5);
	}
	a {
		text-decoration: none;
	}
	&.blog-cover {
		.id-site-title,
		.id-site-description {
			text-shadow: 0 1px 10px rgba(0,0,0,.15);
			color: $white;
		}
		.id-site-title {
			a {
				@include anchor($white,$white,$white);
			}
		}
	}
}

.id-site-logo-link {
	@extend .inner;
}

.id-site-logo {
	display: block;
	margin: 0 auto;
}

.id-site-title {
	overflow: hidden;
	margin: 0;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 1;
	font-size: 4.5em;
	a {
		@include anchor($black,$black,$color-link-active);
	}
}

.id-site-description {
	@extend .inner;
	margin-top: .5em;
	font-size: 1em;
	@include breakpoint(bp1) {
		font-size: 1.25em;
	}
	@include breakpoint(bp2) {
		font-size: 1.5em;
	}
}

.with-blog-logo {
	.id-site-title {
		@extend .visuallyhidden;
	}
}

.without-blog-logo {
	.id-site-title {
		@extend .inner;
	}
}

/*-----------------------------------------------------------------------------------*/
/* Navigation
/*-----------------------------------------------------------------------------------*/

.id-nav {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: $z-index-nav;
	width: 100%;
	height: $height-nav-breakpoint-0;
	background-color: $black;
	@include breakpoint(bp1) {
		height: $height-nav-breakpoint-1;
	}
	@include breakpoint(bp2) {
		height: $height-nav-breakpoint-2;
	}
}

.id-nav-title {
	@extend .inner;
}

.id-nav-title,
.id-nav-trigger {
	height: $height-nav-breakpoint-0;
	@include breakpoint(bp1) {
		height: $height-nav-breakpoint-1;
	}
	@include breakpoint(bp2) {
		height: $height-nav-breakpoint-2;
	}
}

.id-nav-trigger {
	display: block;
	overflow: hidden;
	width: 25px;
	span {
		@include transition(background-color 0.3s);
		position: relative;
		top: 50%;
		left: 0;
		display: block;
		margin-top: -1px;
		width: 100%;
		height: 2px;
		background-color: $color-link;
		font-size: 0px;
		user-select: none;
		&:before,
		&:after {
			@include transition(transform 0.3s);
			position: absolute;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $color-link;
			content: '';
		}
		&:before {
			@include transform(translateY(-350%));
		}
		&:after {
			@include transform(translateY(350%));
		}
	}
}

.id-nav-wrapper {
	position: absolute;
	top: -9999px;
	left: 0;
	width: 100%;
	background-color: $black;
	text-align: left;
	@include breakpoint(bp1) {
		padding-bottom: 1em;
	}
}

.id-main-menu {
	@extend %delist;
	@extend .inner;
	@extend .heading;
	a {
		@include anchor();
		display: block;
	}
	li {
		margin: 0;
		border-top: 1px solid $grey-20;
		ul {
			margin: 0 $gutter .5em (-($gutter));
			font-family: $font-family-default;
			a {
				padding: .5em 1em;
				font-size: .75em;
			}
		}
	}
	> li {
		&:first-child {
			border-top: none;
		}
		> a {
			padding: .75em $gutter;
		}
	}
}

.id-nav.active {
	.id-nav-trigger {
		span {
			background-color: transparent;
			&:before {
				@include transform(translateY(0) rotate(45deg));
			}
			&:after {
				@include transform(translateY(0) rotate(-45deg));
			}
		}
	}
	.id-nav-wrapper {
		top: $height-nav-breakpoint-0;
		@include breakpoint(bp1) {
			top: $height-nav-breakpoint-1;
		}
		@include breakpoint(bp2) {
			top: $height-nav-breakpoint-2;
		}
	}
}

/*-----------------------------------------------------------------------------------*/
/* Articles
/*-----------------------------------------------------------------------------------*/

.entry {
	padding: $vgutter 0;
	border-top: 1px solid $border-color;
	@include breakpoint(bp1) {
		padding: ($vgutter * 2) 0;
	}
	@include breakpoint(bp2) {
		padding: ($vgutter * 3) 0;
	}
}

.entry-inner {
	@extend .inner;
}

.entry-title {
	margin-top: .5em;
	color: $black;
	a {
		@include anchor($color-heading,$color-heading,$color-link-active);
		text-decoration: none;
	}
}

.entry-meta {
	margin: 1em 0;
	color: $color-meta;
	font-size: .688em;
	font-family: $font-family-sans;
	line-height: 1.3;
	a {
		@include anchor($color-meta,darken($color-meta, 10),darken($color-meta, 20));
		text-decoration: none;
	}
}

.entry-meta-date,
.entry-meta-tags,
.entry-meta-comments {
	margin-right: 1em;
	&:before {
		@extend %icon;
		margin-right: .33em;
		vertical-align: text-bottom;
		font-size: 1.25em;
	}
}

.entry-meta-date {
	&:before {
		@extend .launchramp-icon-time;
	}
}

.entry-meta-tags {
	&:before {
		@extend .launchramp-icon-tags;
	}
}

.entry-meta-comments {
	margin-right: 0;
	&:before {
		@extend .launchramp-icon-comments;
	}
}

.entry-media {
	a > {
		*:empty {
			display: none;
		}
		iframe[src] {
			display: block;
		}
	}
	p,
	div {
		margin: 1em auto;
	}
	img,
	iframe {
		display: block;
		width: 100%;
	}
}

.more-link {
	@include transition(all 100ms linear);
	display: block;
	margin-top: 1em;
	text-decoration: none;
	text-transform: uppercase;
	font-family: $font-family-heading;
	&:after {
		@extend %icon;
		@extend .launchramp-icon-chevron-right;
		margin-left: .5em;
	}
	&:focus,
	&:hover {
		letter-spacing: .05em;
		&:after {
			margin-left: .75em;
		}
	}
}

.entry-full {
	overflow: hidden;
	p {
		&:first-child {
			img {
				display: block;
				width: 100%;
			}
		}
	}
	.fluid-width-video-wrapper {
		&:first-child {
			margin-top: 1em;
		}
	}
}

.post-long {
	.entry-header {
		@include breakpoint(bp1) {
			margin-bottom: 2em;
		}
	}
}

/*-----------------------------------------------------------------------------------*/
/* Sharing
/*-----------------------------------------------------------------------------------*/

.id-share {
	@extend .heading;
	clear: both;
	margin: 3em auto;
	text-align: center;
	text-transform: uppercase;
	line-height: normal;
	span {
		display: inline-block;
	}
	.prep {
		margin: 0 .33em .25em 0;
	}
	a {
		$size: 40px;
		@include transition(color 100ms linear);
		position: relative;
		display: inline-block;
		overflow: hidden;
		margin: 0 0 .25em 0;
		padding-left: $size;
		width: $size;
		height: $size;
		vertical-align: middle;
		text-decoration: none;
		&:first-child {
			margin-left: 0;
		}
		&:before {
			@extend %icon;
			position: absolute;
			top: 0;
			left: 0;
			font-size: $size;
		}
	}
}

/*-----------------------------------------------------------------------------------*/
/* Authors
/*-----------------------------------------------------------------------------------*/

.author-bio {
	clear: both;
	margin: 3em auto 0;
	padding: 3em $gutter;
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
	text-align: center;
	font-size: $font-size-breakpoint-0 - .2;
	font-family: $font-family-default;
	line-height: 1.3;
	@include breakpoint(bp1) {
		font-size: $font-size-breakpoint-1 - .2;
	}
	@include breakpoint(bp2) {
		font-size: $font-size-breakpoint-2 - .2;
	}
}

.author-bio-prep {
	margin-bottom: 1.5em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .25em;
	font-size: .83em;
}

.author-media {
	margin: 0 auto 1.5em;
	max-width: 240px;
	img {
		display: block;
		margin: 0 auto;
		border-radius: $radius-s;
	}
}

.author-name {
	margin: 0;
	font-size: 1.25em;
}

.author-meta,
.author-description {
	margin: 1em 0 0;
}

.author-meta {
	font-size: .917em;
}

.author-location {
	display: block;
	font-style: italic;
	@include breakpoint(bp1) {
		display: inline;
	}
	.prep {
		display: none;
		margin: 0 .33em 0 .5em;
		color: $border-color;
		font-style: normal;
		@include breakpoint(bp1) {
			display: inline-block;
		}
	}
}

.author-website {
	font-family: $font-family-sans;
}

.author-social {
	@extend %delist;
	margin-bottom: 0;
	li {
		display: inline-block;
		margin: .125em (round(.125em / 2));
	}
	a {
		$size: 40px;
		position: relative;
		display: inline-block;
		overflow: hidden;
		padding-left: $size;
		width: $size;
		height: $size;
		vertical-align: middle;
		text-decoration: none;
		&:before {
			@extend %icon;
			position: absolute;
			top: 0;
			left: 0;
			font-size: $size;
		}
	}
}

.author-cover {
	padding: $gutter;
	border: none;
	border-radius: $radius-m;
	@include breakpoint(bp1) {
		padding: 3em 10%;
	}
	.author-media {
		box-shadow: 0 0 3px 0 rgba(0,0,0,.2);
		img {
			border-radius: 0;
		}
	}
	.author-name {
		color: $white;
	}
	.author-location {
		.prep {
			color: $white;
		}
	}
}

/*-----------------------------------------------------------------------------------*/
/* Disqus
/*-----------------------------------------------------------------------------------*/

#disqus_thread {
	clear: both;
	margin-top: 3em;
}

/*-----------------------------------------------------------------------------------*/
/* Pagination
/*-----------------------------------------------------------------------------------*/

.pagination-wrapper {
	@extend .blog-cover;
	clear: both;
	padding: 1em 0;
	text-align: center;
	text-transform: uppercase;
	font-family: $font-family-heading;
	line-height: normal;
}

.pagination {
	@extend .inner;
	position: relative;
	overflow: hidden;
	span {
		display: inline-block;
		padding: $btn-padding;
	}
	a {
		@include anchor($white,$white,$white);
		display: inline-block;
		text-decoration: none;
		text-shadow: none;
		font-size: 0;
	}
}

.pagination span,
.newer-posts:before,
.older-posts:after {
	font-size: $font-size-breakpoint-0;
	@include breakpoint(bp1) {
		font-size: $font-size-breakpoint-1;
	}
	@include breakpoint(bp2) {
		font-size: $font-size-breakpoint-2;
	}
}

.newer-posts:before,
.older-posts:after {
	@extend %icon;
	display: inline-block;
	padding: $btn-padding;
	border-radius: $btn-radius;
	background-color: $color-link-hover;
}

.newer-posts {
	&:before {
		@extend .launchramp-icon-chevron-left;
	}
}

.older-posts {
	&:after {
		@extend .launchramp-icon-chevron-right;
	}
}

/*-----------------------------------------------------------------------------------*/
/* Footer
/*-----------------------------------------------------------------------------------*/

.id-footer {
	clear: both;
	overflow: hidden;
	padding: 2em 0;
	background-color: $black;
	color: $white;
	text-align: center;
	font-family: $font-family-sans;
	@include breakpoint(bp1) {
		padding: 2.5em 0;
	}
	@include breakpoint(bp2) {
		padding: 3em 0;
	}
	a {
		text-decoration: none;
	}
}

.id-footer-links {
	@extend .inner;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	font-weight: $font-weight-heading;
	font-size: 14px;
	font-family: $font-family-heading;
	line-height: 1;
	@include breakpoint(bp1) {
		text-align: left;
	}
	a {
		@include transition(color 100ms linear);
		display: inline-block;
		vertical-align: top;
	}
}

.id-link-rss:before,
.id-link-top:after {
	@extend %icon;
	position: relative;
	top: -4px;
	display: inline-block;
	vertical-align: top;
	font-size: 20px;
}

.id-link-rss {
	@include breakpoint(bp1) {
		left: 10%;
	}
	&:before {
		@extend .launchramp-icon-rss-sign;
		margin-right: .5em;
	}
}

.id-link-top {
	margin-left: 3em;
	@include breakpoint(bp1) {
		position: absolute;
		top: 0;
		right: $gutter;
		margin-left: 0;
		text-align: right;
	}
	&:after {
		@extend .launchramp-icon-collapse-top;
		margin-left: .5em;
	}
}

.id-site-copyright {
	@extend .inner;
	margin: 1.5em auto 0;
	font-size: .75em;
	line-height: 1.3;
	@include breakpoint(bp1) {
		position: relative;
		margin-top: -20px;
		width: 60%;
		line-height: 1;
	}
	@include breakpoint(bp2) {
		width: 50%;
	}
	a {
		@include anchor($white,$white,$white);
		&:focus,
		&:hover,
		&:active {
			text-decoration: underline;
		}
	}
	.last {
		display: inline-block;
	}
}

/*-----------------------------------------------------------------------------------*/
/* Alternative Color Schemes
/*-----------------------------------------------------------------------------------*/

@import 'schemes';

/*-----------------------------------------------------------------------------------*/
/* Print
/*-----------------------------------------------------------------------------------*/

@import 'print';
